<div id="page-wrapper">

  <!-- Header -->
    <div id="header-wrapper">
      <header id="header" class="container">

        <!-- Logo -->
          <div id="logo">
            <span style="font-size: 24px;">Prueba Desarrollo</span>
          </div>
      </header>
    </div>

  <!-- Banner -->
    <div id="banner-wrapper">
      <div id="banner" class="box container">
        <div class="row">
         
        </div>
      </div>
    </div>

  <!-- Footer -->
    <div id="footer-wrapper">
      <footer id="footer" class="container">
        <div class="row">
          <div class="col-12">
            <div id="copyright">
              <ul class="menu">
                <li>&copy;2020. All rights reserved</li><li>Design by <a href="">Santiago Valencia</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>

  </div>
