<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-3 mb-3">
    <a class="navbar-brand">Prueba Desarrollo Davinci</a>
  </nav>
  
  <div class="jumbotron pt-3 pb-4">
    <h2>Cargar archivo Campañas del CRM versión 1.0</h2>
    <p><small>stack: Angular v9, angular material, bootstrap, Node js(nestJS v7) MongoDB</small></p>

    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>
            <div (click)='stepper.reset()'> Elegir separador de cadena</div>
          </ng-template>
          <mat-form-field>
            <mat-label>Separador</mat-label>
            <input style="font-size: 18px;" matInput placeholder="Ej: , . - (espacio) (palabra)" formControlName="separator" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Siguiente</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Cargar archivo</ng-template>
          <input formControlName="file" type='file' class="form-control-file" accept='text/plain' multiple
            (change)='openFile($event)' required>
          <div>
            <button mat-button matStepperPrevious (click)='stepper.reset()'>Atrás</button>
            <button mat-button matStepperNext>Siguiente</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Elegir campos y guardar</ng-template>
        <div>
          <form (ngSubmit)="save(form)" #form="ngForm">
            <div class="form-group">
              <mat-form-field>
                <mat-label>Campo Nombre</mat-label>
                <mat-select [(ngModel)]="nombre" name="nombre" required>
                  <mat-option *ngFor="let field of fields" [value]="field">
                    {{field}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field>
                <mat-label>Campo Apellido</mat-label>
                <mat-select [(ngModel)]="apellido" name="apellido" required>
                  <mat-option *ngFor="let field of fields" [value]="field">
                    {{field}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field>
                <mat-label>Campo Teléfono</mat-label>
                <mat-select [(ngModel)]="telefono" name="telefono" required>
                  <mat-option *ngFor="let field of fields" [value]="field">
                    {{field}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field>
                <mat-label>Campo Dirección</mat-label>
                <mat-select [(ngModel)]="direccion" name="direccion" required>
                  <mat-option *ngFor="let field of fields" [value]="field">
                    {{field}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="form-group text-center">
              <button type="submit" class="btn btncolor">
                <i class="fa fa-save"></i>
                Guardar
              </button>
            </div>
          </form>

          <button mat-button matStepperPrevious>Atrás</button>
          <button mat-button (click)="stepper.reset();reset()">Cancelar carga</button>

        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>

</div>
<footer  id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>{{anio}}  &copy; My App</small>
  </div>
</footer>
